.cmn-title {
    text-align: center;
    p {
        font-size: 24px;
        border-bottom: 2px solid red;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        @media print, screen and (max-width: 1000px) {
            width: 800px;
        }
        @media print, screen and (max-width: 800px) {
            width: 600px;
        }
        @media print, screen and (max-width: 600px) {
            width: 400px;
            font-size: 18px;
        }
        @media print, screen and (max-width: 400px) {
            width: 300px;
            font-size: 14px;
            border-bottom: 1px solid red;
        }
    }
}
.cmn-step {
    font-size: 24px;
    border-left: 2px solid red;
    padding-left: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    @media print, screen and (max-width: 500px) {
        font-size: 16px;
    }
}
