.footer {
    margin-top: 20px;
    text-align: center;
    @media print, screen and (max-width: 500px) {
        margin-top: 30px;
    }
    .inner {
    }
    .copyright {
        @media print, screen and (max-width: 500px) {
            font-size: 14px;
        }
    }
}
